body {
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: black;

}

body .container {
	background-color: green;
	width: 100%;
	height: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

body .container section {
	color: white;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	scroll-snap-align: start;
}
