/* Basic Containers */

body {
	font-family: Montserrat;
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: #171717;
}

body .container {
	width: 100%;
	height: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

	body .container section {
		/*		outline: auto;*/
		color: white;
		display: flex;
		width: 100%;
		height: 100vh;
		scroll-snap-align: start;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		background: radial-gradient(farthest-side at 50% -2%, #2855F470, transparent) 0vw 0 / 100vw 40vh no-repeat;
	}

		body .container section.gradient-background {
			background: radial-gradient(at 98% 10%, #6417B3 0, transparent 47%), radial-gradient(at 88% 78%, #194CBD 0, transparent 52%), radial-gradient(at 56% 16%, #1E25A6 0, transparent 42%), radial-gradient(at 20% 21%, #9F10C9 0, transparent 52%), radial-gradient(at 40% 41%, #3D19BD 0, transparent 41%), radial-gradient(at 97% 58%, #7349FC 0, transparent 47%), radial-gradient(at 35% 12%, #1771B3 0, transparent 40%), radial-gradient(at 88% 93%, #10ADC9 0, transparent 52%);
			background-color: #1E25A6;
		}

.grid-container {
	width: 1366px;
	height: 100vh;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
	overflow: clip;
}

.grid-item {
	outline: auto;
	outline-width: thin;
	outline-color: aqua;
}

/* Text */
h1 {
	font-size: 12rem;
	font-weight: bold;
	line-height: 9rem;
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}

h2 {
	opacity: 0.7;
}

/* Sections */
.hero-title-block {
	margin: auto 0 auto 0;
	padding: 0;
	height: 100%;
	grid-column: 5 / 12;
	grid-row: 3 / 4;
	align-items: center;
	display: grid;
	grid-template-rows: auto auto auto auto auto;
}
	.hero-title-block h2 {
		align-self: flex-end;
		grid-column: 4 / 7;
		grid-row: 2 / 2;
	}
	
	.hero-title-block h1 {
		grid-column: 1 / 8;
		grid-row: 3 / 3;
	}

	.hero-title-block .outline-btn {
		justify-self: flex-end;
		align-self: flex-start;
		grid-column: 3 / 3;
		grid-row: 4 / 4;
		margin-right: 1em;
	}

	.hero-title-block .gradient-btn {
		align-self: flex-start;
		grid-column: 4 / 4;
		grid-row: 4 / 4;
	}

.hero-image {
	width: 100%;
	align-self: start;
	grid-column: 1 / 7;
	grid-row: 1 / 6;
	padding: 5vh 0 0 0;
}

/* UI Elements */

.link {
	text-decoration: none;
	padding-bottom: .1875REM;
	position: relative;
	background: linear-gradient(to right, #954AC7, #2855F7) bottom / 0.125REM no-repeat;
	background-size: 100% .125REM;
	transition: background-size 500ms, color 500ms, background-color 400ms;
}


	.link:hover {
		animation: highlight 500ms;
	}

	@keyframes highlight {
		0% {
			background-size: 0% .125rem;
		}

		100% {
			background-size: 100% initial;
		}
	}

	.link.left {
		background-position: left bottom;
	}

	.link.right {
		background-position: right bottom;
	}

h1.link {
	width: fit-content;
	font-size: 6rem;
	line-height: 6.5rem;
	padding-bottom: 1REM;
	background-size: 100% 1REM;
}

	h1.link:hover {
		background-size: 100% 1rem;
		animation: highlight-large 500ms;
	}

@keyframes highlight-large {
	0% {
		background-size: 0% 1REM;
	}

	100% {
		background-size: 100% 1REM;
	}
}

.gradient-btn {
	width: fit-content;
	color: white;
	padding-right: 2rem;
	padding-left: 2rem;
	padding: 9px 15px;
	cursor: pointer;
	background: linear-gradient(to right, #4B2ED7, #2855F7, #4B2ED7);
	background-size: 300%;
	background-position: left;
	transition: background-position 300ms ease, transform 300ms ease, box-shadow 300ms ease;
}

	.gradient-btn:hover {
		box-shadow: 0 0 0.375rem 0 rgb(59 63 230 / 65%);
		transform: translate(0, 0.375rem);
		background-position: right;
	}

.outline-btn {
	color: white;
	outline: 3px solid white;
	outline-offset: -3.5px;
	padding-right: 2rem;
	padding-left: 2rem;
	padding: 9px 15px;
	cursor: pointer;
	background: none;
	transition: background-position 300ms ease, transform 300ms ease, box-shadow 300ms ease;
}

	.outline-btn:hover {
		box-shadow: 0 0 0.375rem 0 rgb(59 63 230 / 65%);
		transform: translate(0, 0.375rem);
	}

@keyframes signature-passive {
	0% {
		transform: rotateX(-20deg) rotateY(32deg) rotateZ(3deg);
	}

	20% {
		transform: rotateX(23deg) rotateY(-15deg) rotateZ(-20deg);
	}

	40% {
		transform: rotateX(-15deg) rotateY(12deg) rotateZ(15deg);
	}

	60% {
		transform: rotateX(15deg) rotateY(32deg) rotateZ(-35);
	}

	80% {
		transform: rotateX(3deg) rotateY(-15deg) rotateZ(-12deg);
	}
}

.signature {
	animation: signature-passive 75s infinite;
	transition: transform 15s ease;
}

